In [ ]:
## TUPLES

In [10]:
my = (1,2,3,4,5,6)
len(my)

6

In [11]:
print(my[0])
print(my[1])
print(my[2])
print(my[3])
print(my[4])

1
2
3
4
5

In [12]:
## slicing 
my[4:]

(5, 6)

In [15]:
## concatenation
tup=(1, 3,4,56,"Suraj","big")
new_tup = my + tup
print(new_tup)

(1, 2, 3, 4, 5, 6, 1, 3, 4, 56, 'Suraj', 'big')

In [1]:
## Iterating over a tuple
a = -7
b = 7
for i in range (a,b,1):
    print(i**2)
tup=(1, 3,4,56,20)
squared= [item** 2 for item in tup]
print(squared)
type(squared)

49
36
25
16
9
4
1
0
1
4
9
16
25
36
[1, 9, 16, 3136, 400]

list

## LIST

In [42]:
my_list = [1, 2, 3,"four",5.0]
print(type(my_list))
## Accessing element using indexing
print(my_list[2])
print(my_list[-2])

<class 'list'>
3
four

In [45]:
# Slicing in List
my_list = [1, 2, 3,"four",5.0]
sliced_result = my_list[0:3] 
print(sliced_result)

[1, 2, 3]

In [57]:
# concatenation in list
list1 = [40, 56, 20, "Arun", "Python"]
added = my_list  + list1
print(added)

[1, 2, 3, 'four', 5.0, 40, 56, 20, 'Arun', 'Python']

In [56]:
## append() and extend()
list1.extend(my_list)
print(list1)

[40, 56, 20, 'Arun', 'Python', 1, 2, 3, 'four', 5.0, 1, 2, 3, 'four', 5.0, 1, 2, 3, 'four', 5.0, 1, 2, 3, 'four', 5.0, 1, 2, 3, 'four', 5.0, [1, 2, 3, 'four', 5.0], 1, 2, 3, 'four', 5.0, 1, 2, 3, 'four', 5.0]

### upgrad problem

In [6]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
       output_dict[val] = val**3

In [10]:
output_dict= {val : val**3 for val in input_list if val % 3 == 0}

In [11]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [12]:
func(x, y):
    z = x * y + x + y

func(2)

SyntaxError: invalid syntax (340392871.py, line 1)

In [13]:
def func(x, y = 1):
    z = x * y + x + y
    return z

func(2, func(3))

23

In [15]:
def func(x, y = 2):
    z = x * y + x + y
    return z

func(2, func(3))

35

In [16]:
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z

func(2, func(3))

35

### SET

In [8]:
set1 = {1,2,3,4}
## ADD
set1.add(5)
set1
set2={6,7,8}

In [12]:
## update
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
##  checking for membership (i.e in and not in )
print(2 in set1)
print(9 not in set1)

True
True

### Set operations

In [17]:
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{8, 6, 7}

In [18]:
print("Set1 union set2", set1|set2)

Set1 union set2 {1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
print("set1 intersection set2", set1 & set2)

set1 intersection set2 {8, 6, 7}

In [20]:
print("set1 difference set2", set1-set2)

set1 difference set2 {1, 2, 3, 4, 5}

In [21]:
print("set2 difference set1", set2-set1)

set2 difference set1 set()

In [22]:
len(set1) ==  len(set2)

False

### Dictionary

In [24]:
dict1 = {"name1": "Suraj", "name2":"Suru","name3":"sir"}
print(type(dict1))

<class 'dict'>

In [25]:
## Accessing Elements
dict1.values()

dict_values(['Suraj', 'Suru', 'sir'])

In [26]:
dict1.keys()

dict_keys(['name1', 'name2', 'name3'])

In [43]:
dict1['name1'] = "sur"

In [45]:
## Adding elements
dict1["name4"] = "Python"
dict1

{'name1': 'sur',
 'name2': 'Suru',
 'name3': 'sir',
 ' name1': 'SURAj',
 'name4': 'Python'}

### Stack and Queue in list
- STACK IS LIFO and QUEUE IS FIFO

In [52]:
# create an empty stack using list  
stack =[]
# push elements onto the stack
stack.append(1)
stack.append(2)
stack.append(3)
print(stack)
print(stack.pop())
print(stack)

[1, 2, 3]
3
[1, 2]

In [55]:
queue =[]
queue.append(1)
queue.append(2)
queue.append(3)
print(queue)
print(queue.pop())
print(queue)

[1, 2, 3]
3
[1, 2]

In [25]:
my_list=[4,2,9,7,1,5]
smallest_element = my_list[0]

In [16]:
for i in my_list:
    if i < smallest_element:
        smallest_element = i
print('smallest element is:', smallest_element)

smallest element is: 2

In [28]:
average = sum(my_list) / len(my_list)

In [29]:
average

4.666666666666667

In [34]:
above_average = []
for element in my_list:
    if element > average:
        above_average.append(element)

In [35]:
print(above_average)

[9, 7, 5]

In [36]:
def above_average(input_list):
    average = sum(input_list) / len(input_list)

SyntaxError: expected '(' (885772848.py, line 1)

In [41]:
import calendar
from datetime import date
today = date.today()
year = today.year
month = today.month
cal = calendar.month(year, month)
print(f"Calendar for {calendar.month_name[month]} {year}:")
print(cal)

Calendar for October 2023:
    October 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [40]:
_

4.666666666666667